<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>faceverse | {{ user.username }}</title>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap"
			rel="stylesheet"
		/>
		{% load static %}
		<link rel="stylesheet" href="{% static 'css/edit_profile.css' %}" />
	</head>
<body>
    <h1>Edytuj Profil</h1>
    <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <!-- Wyświetlenie błędów formularza -->
    {{ user_form.non_field_errors }}
    {{ profile_form.non_field_errors }}

    <!-- Pola formularza UserEditForm -->
    <div>
        <label for="id_username">Nazwa użytkownika:</label>
        {{ user_form.username.errors }}
        {{ user_form.username }}
    </div>

    <!-- Pola formularza ProfileForm -->
    <div>
        <label for="id_bio">Bio:</label>
        {{ profile_form.bio.errors }}
        {{ profile_form.bio }}
    </div>
    <div>
        <label for="id_profile_image">Zdjęcie profilowe:</label>
        {{ profile_form.profile_image.errors }}
        {{ profile_form.profile_image }}
    </div>

    <button type="submit">Zapisz zmiany</button>
</form>

<a href="{% url 'user_management:profile' user.username %}">Powrót do profilu</a>
</body>
</html>
