<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>faceverse | {{ user.username }}</title>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap"
			rel="stylesheet"
		/>
		{% load static %}
		<link rel="stylesheet" href="{% static 'css/profile.css' %}" />
	</head>
<body>

   <header class="top-nav">
			<div class="top-nav__logo">faceverse</div>
			<nav class="top-nav__links">
                    <a href="{% url 'user_management:logout' %}">Wyloguj</a>

				<a href="{% url 'core:home' %}" class="top-nav__link">Strona główna</a>
				<a href="{% url 'group_management:groups' %}" class="top-nav__link"
					>Grupy</a
				>
				<a
					href="{% url 'user_management:profile' request.user.username %}"
					class="top-nav__link"
					>Mój profil</a
				>
			</nav>
		</header>

     <!-- Profile Section -->
    <div class="profile-section">
        <div class="profile-header">
            <img src="{{ user.profile.profile_image.url }}" alt="Profile Picture" class="profile-picture">
            <div class="profile-info">
                <h1>{{ user.username }}</h1>
                <p id="followers-count">Followerzy: {{ user.followers.count }}</p>
                <p id="following-count">Followuje: {{ user.following.count }}</p>
                 {% if not is_own_profile %}
    <button class="follow-button" data-username="{{ user.username }}">
        {% if request.user in user.followers.all %}
            Przestań Obserwować
        {% else %}
            Obserwuj
        {% endif %}
    </button>
{% endif %}

            </div>
        </div>

        <!-- User Groups List -->
        <div class="user-groups">
            <h3>            <a href="{% url 'user_management:edit_profile' %}">Edytuj Profil</a>
</h3>
            <h3>Grupy użytkownika:</h3>

                {% for group in user.user_groups.all %}

                    <p><a href="{% url 'group_management:group_detail' group.slug %}">{{ group.name }}</a></p>
                {% empty %}
                    <p>Nie znaleziono grup</p>
                {% endfor %}

        </div>
<script>
document.addEventListener('DOMContentLoaded', function() {
    var username = "{{ user.username }}";
    var followButton = document.querySelector('.follow-button');

    // Wygeneruj URL z placeholderem w Django, a potem zamień go w JavaScript
    var checkFollowStatusUrl = "{% url 'user_management:check_follow_status' 'REPLACE_USERNAME' %}".replace('REPLACE_USERNAME', username);

    // Sprawdzanie stanu obserwacji przy ładowaniu strony
    fetch(checkFollowStatusUrl, {
        headers: {
            'X-CSRFToken': '{{ csrf_token }}'
        }
    })
    .then(response => response.json())
    .then(data => {
        if (data.is_following) {
            followButton.textContent = 'Przestań Obserwować';
        } else {
            followButton.textContent = 'Obserwuj';
        }
    })
    .catch(error => console.error('Error:', error));

    // Obsługa kliknięcia przycisku
    followButton.addEventListener('click', function() {
        var followUserUrl = "{% url 'user_management:follow_user' 'REPLACE_USERNAME' %}".replace('REPLACE_USERNAME', username);

        fetch(followUserUrl, {
            method: 'POST',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}'
            }
        })
        .then(response => response.json())
        .then(data => {
            if (data.status === 'ok') {
                if (data.action === 'followed') {
                    followButton.textContent = 'Przestań Obserwować';
                } else if (data.action === 'unfollowed') {
                    followButton.textContent = 'Obserwuj';
                }
                document.getElementById('followers-count').textContent = 'Liczba obserwujących: ' + data.followers_count;
            }
        })
        .catch(error => console.error('Error:', error));
    });
});
</script>



    {% if is_own_profile %}
        <div>

            <form method="post" action="{% url 'post_management:create_post' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Opublikuj</button>
    </form>
        </div>
    {% endif %}

    <div class="posts-section">
    {% block content %}
    {% for post in posts %}
        <div class="post">
            <p>{{ post.author }} <small>{{ post.created_at }}</small></p>
            <p>{{ post.content }}</p>

            <button id="like-button-{{ post.id }}" type="button" onclick="likePost({{ post.id }});">Lubię to!</button>
            <span id="like-count-{{ post.id }}">{{ post.likes.count }}</span><br>

            {% for comment in post.comments.all %}
                {{ comment.author.username }} <span>  </span> {{ comment.created_at }}
                <p>{{ comment.content }}</p>
            {% endfor %}

            <form action="{% url 'post_management:add_comment_to_post' post.id %}" method="post">
                {% csrf_token %}
                <input type="text" name="content" placeholder="Dodaj komentarz...">
                <button type="submit">Komentuj</button>
            </form>
        </div>
    {% empty %}
        <p>{% if is_own_profile %}Nie znaleziono Twoich postów.{% else %}Nie znaleziono postów użytkownika {{ user.username }}.{% endif %}</p>
    {% endfor %}
{% endblock %}

    </div>
    <script src="{% static 'js/likes.js' %}"></script>
    <script>
        var likePostUrl = '{% url "post_management:like_post" %}';
        var csrfToken = '{{ csrf_token }}';
    </script>
</body>
</html>
