<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profil użytkownika {{ user.username }}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
</head>
<body>
    <h1>Profil: {{ user.username }}</h1>
    <a href="{% url 'user_management:logout' %}">Wyloguj</a>

    <nav>
        <ul>
            <li><a href="{% url 'core:home' %}">Strona główna</a></li>
            <li><a href="{% url 'group_management:groups' %}">Grupy</a></li>
            <li><a href="{% url 'user_management:friends' %}">Moi znajomi</a></li>
            <li><a href="{% url 'user_management:profile' request.user.username %}">Mój profil</a></li>
        </ul>
    </nav>

    <div class="profile-container">
        <img src="{{ user.profile.profile_image.url }}" alt="Zdjęcie Profilowe">
        <p>{{ user.username }}</p>
        <p>{{ user.profile.bio }}</p>
    </div>
    {% if not is_own_profile %}
    {% if not is_own_profile %}
    <button class="follow-button" data-username="{{ user.username }}">
        {% if request.user in user.followers.all %}
            Przestań Obserwować
        {% else %}
            Obserwuj
        {% endif %}
    </button>
{% endif %}

<script>
document.addEventListener('DOMContentLoaded', function() {
    var username = "{{ user.username }}";
    var followButton = document.querySelector('.follow-button');

    // Wygeneruj URL z placeholderem w Django, a potem zamień go w JavaScript
    var checkFollowStatusUrl = "{% url 'user_management:check_follow_status' 'REPLACE_USERNAME' %}".replace('REPLACE_USERNAME', username);

    // Sprawdzanie stanu obserwacji przy ładowaniu strony
    fetch(checkFollowStatusUrl, {
        headers: {
            'X-CSRFToken': '{{ csrf_token }}'
        }
    })
    .then(response => response.json())
    .then(data => {
        if (data.is_following) {
            followButton.textContent = 'Przestań Obserwować';
        } else {
            followButton.textContent = 'Obserwuj';
        }
    })
    .catch(error => console.error('Error:', error));

    // Obsługa kliknięcia przycisku
    followButton.addEventListener('click', function() {
        var followUserUrl = "{% url 'user_management:follow_user' 'REPLACE_USERNAME' %}".replace('REPLACE_USERNAME', username);

        fetch(followUserUrl, {
            method: 'POST',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}'
            }
        })
        .then(response => response.json())
        .then(data => {
            if (data.status === 'ok') {
                if (data.action === 'followed') {
                    followButton.textContent = 'Przestań Obserwować';
                } else if (data.action === 'unfollowed') {
                    followButton.textContent = 'Obserwuj';
                }
                document.getElementById('followers-count').textContent = 'Liczba obserwujących: ' + data.followers_count;
            }
        })
        .catch(error => console.error('Error:', error));
    });
});
</script>

{% endif %}
<p id="followers-count">Liczba obserwujących: {{ user.followers.count }}</p>
<p>Liczba obserwowanych: {{ user.following.count }}</p>

    {% if is_own_profile %}
        <div>
            <a href="{% url 'user_management:edit_profile' %}">Edytuj Profil</a>

            <form method="post" action="{% url 'post_management:create_post' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Opublikuj</button>
    </form>
        </div>
    {% endif %}

    <div>
    <h3>Grupy:</h3>
    <ul>
        {% for group in user.user_groups.all %}
            <li><a href="{% url 'group_management:group_detail' group_slug=group.slug %}">{{ group.name }}</a></li>
        {% empty %}
            <li>{{ user.username }} nie należy do żadnych grup.</li>
        {% endfor %}
    </ul>
</div>
    {% block content %}
    {% for post in posts %}
        <div class="post">
            <p>{{ post.author }} <small>{{ post.created_at }}</small></p>
            <p>{{ post.content }}</p>

            <button id="like-button-{{ post.id }}" type="button" onclick="likePost({{ post.id }});">Lubię to!</button>
            <span id="like-count-{{ post.id }}">{{ post.likes.count }}</span><br>

            {% for comment in post.comments.all %}
                {{ comment.author.username }} <span>  </span> {{ comment.created_at }}
                <p>{{ comment.content }}</p>
            {% endfor %}

            <form action="{% url 'post_management:add_comment_to_post' post.id %}" method="post">
                {% csrf_token %}
                <input type="text" name="content" placeholder="Dodaj komentarz...">
                <button type="submit">Komentuj</button>
            </form>
        </div>
    {% empty %}
        <p>{% if is_own_profile %}Nie znaleziono Twoich postów.{% else %}Nie znaleziono postów użytkownika {{ user.username }}.{% endif %}</p>
    {% endfor %}
{% endblock %}


    <script src="{% static 'js/likes.js' %}"></script>
    <script>
        var likePostUrl = '{% url "post_management:like_post" %}';
        var csrfToken = '{{ csrf_token }}';
    </script>
</body>
</html>
