<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Strona Główna</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body data-like-post-url="{% url 'post_management:like_post' %}" data-csrf-token="{{ csrf_token }}">

    {% if user.is_authenticated %}
        <nav>
            <ul>
                <li><a href="{% url 'core:home' %}">Strona główna</a></li>
                <li><a href="{% url 'group_management:groups' %}">Grupy</a></li>
                <li><a href="{% url 'user_management:friends' %}">Moi znajomi</a></li>
                <a href="{% url 'user_management:profile' user.username %}">Mój profil</a>
            </ul>
        </nav>

        <form method="post" action="{% url 'post_management:create_post' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Opublikuj</button>
        </form>

            {% for post in posts %}
    <div class="post">
        <p>{{ post.author }} <small>{{ post.created_at }}</small></p>
        <p>{{ post.content }}</p>

        {% if post.group %}
            <p>Grupa: {{ post.group.name }}</p>
        {% endif %}

        <button id="like-button-{{ post.id }}" type="button" onclick="likePost({{ post.id }});">Lubię to!</button>
        <span id="like-count-{{ post.id }}">{{ post.likes.count }}</span><br>

        {% for comment in post.comments.all %}
            {{ comment.author.username }} <span>  </span> {{ comment.created_at }}
            <p>{{ comment.content }}</p>
        {% endfor %}

        <form action="{% url 'post_management:add_comment_to_post' post.id %}" method="post">
            {% csrf_token %}
            <input type="text" name="content" placeholder="Dodaj komentarz...">
            <button type="submit">Komentuj</button>
        </form>
    </div>
{% empty %}
    <p>Brak postów do wyświetlenia.</p>
{% endfor %}
    {% else %}
        <p>Nie jesteś zalogowany.</p>
    {% endif %}

    <script>
        var likePostUrl = '{% url "post_management:like_post" %}';
        var csrfToken = '{{ csrf_token }}';
    </script>
    <script src="{% static 'js/likes.js' %}"></script>
</body>
</html>
