<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Grupy</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/group_detail.css' %}">
</head>
<body data-like-post-url="{% url 'post_management:like_post' %}" data-csrf-token="{{ csrf_token }}">


<h1>{{ group.name }}</h1>
<p><a href="{% url 'group_management:groups' %}">Wróc do strony grup</a></p>
<p>{{ group.description }}</p>

{% if user_is_member %}
    <form method="post" action="{% url 'post_management:create_group_post' group.id %}">
        {% csrf_token %}
        {{ post_form.as_p }}
        <button type="submit">Opublikuj Post</button>
    </form>
{% else %}
    <form method="post" action="">
        {% csrf_token %}
        <button type="submit" name="join_group">Dołącz do Grupy</button>
    </form>
    <p>Musisz być członkiem grupy, aby publikować posty.</p>
{% endif %}


{% for post in posts %}
                <div class="post">
                    <p>{{ post.author }} <small>{{ post.created_at }}</small></p>
                    <p>{{ post.content }}</p>
                    <button id="like-button-{{ post.id }}" type="button" onclick="likePost({{ post.id }});">Lubię to!</button>
                    <span id="like-count-{{ post.id }}">{{ post.likes.count }}</span>

                        {% for comment in post.comments.all %}
                                <strong>{{ comment.author.username }}</strong> <small>{{ comment.created_at }}</small>
                                <p>{{ comment.content }}</p>
                        {% endfor %}

                        <form action="{% url 'post_management:add_comment_to_post' post.id %}" method="post">
                            {% csrf_token %}
                            <input type="text" name="content" placeholder="Dodaj komentarz...">
                            <button type="submit">Komentuj</button>
                        </form>
                </div>
            {% empty %}
                <p>Brak postów do wyświetlenia.</p>
            {% endfor %}

    {% load static %}
<script>
var likePostUrl = '{% url "post_management:like_post" %}';
var csrfToken = '{{ csrf_token }}';
</script>
    <script src="{% static 'js/likes.js' %}"></script>

</body>
