<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Grupy</title>
</head>
<body>
    <h1>Grupy essa</h1>
<nav>
        <ul>
            <li><a href="{% url 'core:home' %}">Strona główna</a></li>
            <li><a href="{% url 'group_management:groups' %}">Grupy</a></li>
            <li><a href="{% url 'user_management:friends' %}">Moi znajomi</a></li>
            <li><a href="{% url 'user_management:profile' %}">Mój profil</a></li>
        </ul>
        </nav>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Utwórz grupę</button>
</form>

</body>
</html>